<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>My Page</h1>
  <nav>
    <h1><a href="/">Ishga Marhamat!</a></h1>
    <ul>
        <li><a href="/mypage">Mening Sahifam</a></li>
      <li><a href="/user/create">Ish e'lon berish</a></li>
      <li><a href="/logout" class="btn">Chiqish</a></li>
    </ul>
  </nav>


<%- include('partials/footer'); -%>
  